@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div__header{
    background: red;
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.div__header-igm{
    background: blue;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 34px;
    margin-top: 43px;
}
.menu{
    width: 32px;
    height: 32px;
}
.notificaciones{
    width: 32px;
    width: 32px;
}
.div__title {
    background: green;
    display: flex;
    flex-direction: column;
    width: 265px;
    height: 72px;
    margin-top: 20px;
}
.div__title h1{
    font-family: "Inter-SemiBold";
    font-size: 30px;
}
.div__title h1:last-child{
    color: var(--color-3);
}
.div__search {
    background: pink;
    width: 100%;
    height: 41px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.div__search form textarea{
    resize: none;
    margin-top: 10px;
    background: yellow;
    width: 307px;
    align-items: center;
    border-radius: 10px;
    font-family: "Inter-Regular";
    font-size: 12px;
}
.lupa{
    width: 17px;
}
.carousel {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background: var(--color-3);
    gap: 12px;
    padding-left: 30px;
    
    & > .carousel-item1 {
        display:flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--block-1);
        border-radius: 8px;
        justify-content: center;
        align-content: center;
        width: auto;
        height: 28px;
    }
    h3{
        font-family: "Inter-Regular";
        color: var(--color-1);
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.section__card-carousel {
    background: red;
    padding: 20px;
}
.section__card-carousel h2{
    font-family: "Inter-SemiBold";
    font-size: 14px;
}
.article__carousel {
    /* background: green; */
}
.carousel-events {
    /* background: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}
.carousel-events img{
    width: 100%;
}
.block__info {
    background: pink;
    width: 332px;
    height: 90px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -96px;
}
.div__info{
    /* background: red; */
    display: flex;
    flex-direction: column;
    width: 184px;
    height: 57px;
    gap: 5px;
}
.div__info h4{
    font-family: "Inter-SemiBold";
    font-size: 12px;
    color: var(--color-2);
}
.div__info span{
    font-family: "Inter-Regular";
    font-size: 12px;
    color: var(--color-2);
}
.div__info img {
    width: 13px;
    height: 15px;
}
.price{
    /* background: green; */
    display: flex;
    flex-direction: column;
    width: 102px;
    height: 35px;
}
.price span{
    font-family: "Inter-Regular";
    font-size: 10px;
    color: var(--color-2);
}
.price h2{
    font-family: "Inter-SemiBold";
    font-size: 16px;
    color: var(--color-2);
}
