<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/detail_styles.css">
</head>
<body>
    <header>
        <div class="div__back">
            <a href="../index.html">
                <img src="../storage/img/Left.png">
            </a>
        </div>
        <div class="div__picture-princ">
            <img src="../storage/img/detail_id.png">
        </div>
    </header>
    <main>
        <section>
            <article>
                <div>
                    <h4>Coldplay <span>: Music of the Spheres</span></h4>
                    <div>
                        <span><img src="../storage/img/location.png">Gelora Bung Karno Stadium, Jakarta</span>
                        <span><img src="../storage/img/calendar.png">November 15 2023</span>
                    </div>
                    <div>
                        <div>
                            <img src="">
                            <img src="">
                            <img src="">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
</html>