<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/detail_styles.css">
</head>

<body>
    <header>
        <div class="div__back">
            <a href="../index.html">
                <img src="../storage/img/Left.png">
            </a>
        </div>
        <div class="div__options">
            <img src="../storage/img/options.png">
        </div>
        <div class="div__picture-princ">
            <img src="/storage/img/musepicture.jpg">
        </div>
    </header>
    <main>
        <section class="section__card-detail">
            <article class="article__detail">
                <div class="title__firts">
                    <h4>Muse <span>: Will of the People </span></h4>
                    <div class="div__litle-inf">
                        <span><img src="../storage/img/Location_gray.png"> Gelora Bung Karno Stadium, Jakarta</span>
                        <span><img src="../storage/img/calendar_gray.png"> November 15 2023</span>
                    </div>
                    <div class="picture__person">
                        <div class="picture">
                            <img src="../storage/img/person1.png">
                            <img src="../storage/img/person2.png">
                            <img src="../storage/img/person3.png">
                        </div>
                        <div class="total__people">
                            <span>50K+ Participants</span>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section class="section__inf">
            <article class="article__description">
                <h4>Description</h4>
                <div class="div__text">
                    <p>Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, finibus quam in,
                        phar. Proin id ligula dictum, covalis enim ut, facilisis massa. Mauris a nisi ut sapien blandit
                        imperdi. Interdum et malesuada fames ac ante ipsum primis in faucibs. Sed posuere egestas nunc
                        ut tempus. Fu ipsum dolor sit amet. <span>Read More..</span></p>
                </div>
                <div class="div__location">
                  <h4>Venue & Location</h4>
                  <div class="img__ubi">
                    <img src="../storage/img/maps.png">
                  </div>  
                </div>
            </article>
        </section>
    </main>
    <footer>
            <div class="div__price">
                <span>Start from</span>
                <h2>IDR1.100.000</h2>
            </div>
            <div class="div__buy">
                <a href="../views/tickets.html">
                    <h2>Buy Ticket</h2>
                </a>
            </div>
    </footer>
</body>
</html>