<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/ticket_styles.css">
</head>
<body>
    <header>
        <div class="div__opcions">
            <div class="div__back">
                <a href="details_one-dire.html">
                    <img src="/storage/img/Left 4.svg">
                </a>
            </div>
             <img src="/storage/img/options_ticket.png">
        </div>
    </header>
    <main>
        <article class="article__carousel-ticket">
            <section class="section__carousel">
                <div class="carousel__item">
                    <img src="/storage/img/one-direction-ticket.jpg">
                </div>
                    <div class="div__info-ticket">
                        <div class="div__title">
                            <h2>One Direction : Where We Are</h2>
                            <span>Oct 29 2023 ~ Jakarta, Indonesia</span>
                        </div>
                        <div class="info-ticket">
                            <div class=" infomacion">
                               <span>Name</span>
                               <h4>Julian Ortega</h4> 
                            </div>
                            <div class=" infomacion">
                                <span>Order Number</span>
                               <h4>GBD0954PL</h4> 
                            </div>
                            <div class=" infomacion">
                                <span>Date</span>
                                <h4>Oct 29 2023</h4> 
                            </div>
                            <div class=" infomacion">
                                <span>Time</span>
                                <h4>9:00 PM</h4> 
                            </div>
                            <div class=" infomacion">
                                <span>Gate</span>
                                <h4>Green</h4> 
                            </div>
                            <div class=" infomacion">
                                <span>Seat</span>
                                <h4>West A</h4> 
                            </div>
                        </div>
                        <div class="codigo__barras">
                            <img src="/storage/img/codigo__barras.svg">
                            <span>Scan your barcode at the entry gate.</span>
                        </div>
                    </div>
                    
                    <section class="section__carousel">
                        <div class="carousel__item">
                            <img src="/storage/img/one-direction-ticket.jpg">
                        </div>
                            <div class="div__info-ticket">
                                <div class="div__title">
                                    <h2>Coldplay : Music of the Spheres</h2>
                                    <span>Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</span>
                                </div>
                                <div class="info-ticket">
                                    <div class=" infomacion">
                                       <span>Name</span>
                                       <h4>Mariana Ramirez</h4> 
                                    </div>
                                    <div class=" infomacion">
                                        <span>Order Number</span>
                                       <h4>CLD09738PL</h4> 
                                    </div>
                                    <div class=" infomacion">
                                        <span>Date</span>
                                        <h4>Oct 29 2023</h4> 
                                    </div>
                                    <div class=" infomacion">
                                        <span>Time</span>
                                        <h4>9:00 PM</h4> 
                                    </div>
                                    <div class=" infomacion">
                                        <span>Gate</span>
                                        <h4>Yellow</h4> 
                                    </div>
                                    <div class=" infomacion">
                                        <span>Seat</span>
                                        <h4>West B</h4> 
                                    </div>
                                </div>
                                <div class="codigo__barras">
                                    <img src="/storage/img/codigo__barras.svg">
                                    <span>Scan your barcode at the entry gate.</span>
                                </div>
                            </div>
            </section>
        </article>
    </main>
</body>
</html>