<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/ticket_styles.css">
</head>
<body>
    <header>
        <div class="div__opcions">
            <div class="div__back">
                <a href="detail.html">
                    <img src="/storage/img/Left 4.svg">
                </a>
            </div>
             <img src="/storage/img/options_ticket.png">
        </div>
    </header>
    <main>
        <article class="article__carousel-ticket">
            <section class="section__ticket">
                <img src="/storage/img/ticket.png" alt="">
                <div>
                    <div>
                        <img src="/storage/img/Rectangle 4115.svg">
                        <div>
                            <h2>Coldplay : Music of the Spheres</h2>
                            <span>Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</span>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
</body>
</html>